.bodyoverflowclass{
    overflow: hidden;
}

.feedbackbtn{
    position: fixed;
    bottom: 10px;
    right: 20px;
}
.button{
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    background-color: #eeeeee;
}
.button:hover{
    background-color: #dddddd;
}

.feedbackbtn img, .icon{
    padding-right: 5px;
    display: inline;
    width: auto;
    height: 15px;
}

#feedbackmodal {
    overflow-y: scroll;
    /*background-color: rgba(0,0,0,0.7);*/
    visibility: hidden;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    text-align:center;
    z-index: 99999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}
#modalcontent {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    color: #122b40;
    border-radius: 0.5em;
    width:80%;
    max-width: 600px;
    margin: 100px auto;
    background-color: #ffffff;
    /*border:1px solid #000;
    padding:15px;*/
    text-align:left;
}
.modalHeader{
    padding: 15px;
    font-size: 1.4em;
    font-weight: 400;
    color: #555555;
}

.modalContent{
    padding: 15px;
    margin: 10px;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
}

.modalFooter{
    text-align:right;
    padding: 15px;
    margin: 0px;
}

.buttonprimary{
    background-color: #428bca;
    color: white;
}
.buttonprimary:hover{
    background-color: #317ab9;
}

input, select, textarea{
    resize: none;
    color: black;
    width:100%;
    display: block;
    border: solid 1px #dddddd;
    border-radius: 0.2em;
    padding: 3px;
    margin: 5px 0;
    font-family: inherit;
    font-size: inherit;
}
canvas{
    margin:auto;
    width: 100%;
    height: auto;
}
#readyButton{
    visibility: hidden;
    z-index: 999999;
}
.screenshot{
    max-height: 200px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    background-color: #eeeeee;
    display: inline-block;
    margin: 5px;
    /*padding: 6px 12px;*/
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
}
.screenshot p{
    padding: 5px 0px;
}


#partialContainer, #fullContainer{
    position: relative;
}
.partialoverlay, .fulloverlay{
    color: white;
    position: absolute;
    width: 100%;
    height: 9000px;
    margin: 0px;
    padding: 0px;
    opacity: 0;
}
.partialoverlay > img, .fulloverlay > img{
    margin-top: 65px;
    width: 50px;
    height: auto;
}
.partialoverlay:hover, .fulloverlay:hover{
    opacity: 1;
    background-color: rgba(0,0,0,0.7);
    /*background-image: url("../img/pencil.png");
    background-position: top;
    background-repeat: no-repeat;*/
}



/*  ---------- highlite modal ----------  */
#highlightmodal {
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.7);
    /*background-color: white;*/
    visibility: hidden;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    padding: 5% 10%;
    text-align:center;
    z-index: 99999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}
#highlightmodalinnerdiv{
    background-color: white;
}